<div class="row">
  <div class="col-md-4 offset-md-4">

    {{#if error}}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{error}}
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {{/if}}

    <div class="card bg-dark text-light">
      <div class="card-body p-4">
        <h3 class="text-light h1">Regístrate</h3>
        <form action="/auth/signup" method="POST">
          <div class="mb-3">
            <label for="email">Correo electrónico:</label>
            <input
              type="text"
              name="email"
              class="form-control bg-dark text-light border border-success"
              placeholder="Correo electrónico"
              autofocus
            />
          </div>
          <div class="mb-3">
            <label for="password">Contraseña:</label>
            <input
              type="password"
              name="password"
              class="form-control bg-dark text-light border border-success"
              placeholder="Contraseña"
            />
          </div>
          <div class="mb-3">
            <label for="confirm-password">Validar Contraseña:</label>
            <input
              type="password"
              name="confirm-password"
              class="form-control bg-dark text-light border border-success"
              placeholder="Validar Contraseña"
            />
          </div>
          <button class="btn btn-success btn-block">
            SignUp
          </button>
        </form>
      </div>
    </div>
    <p class="my-3">¿No tienes cuenta?
      <a href="/auth/signin" class="text-success">Regístrate</a></p>
  </div>
</div>