<div class="row">

  <div class="col-md-4 offset-md-4">

    {{#if success}}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{success}}
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {{/if}}

    <div class="card bg-dark text-white">
      <div class="card-body p-4">
        <h1 class="text-light">SignIn</h1>
        <form action="/auth/signin" method="POST">
          <div class="mb-3">
            <label for="email">Correo electrónico:</label>
            <input
              type="text"
              name="email"
              class="form-control"
              placeholder="Correo electrónico"
              autofocus
            />
          </div>
          <div class="mb-3">
            <label for="password">Contraseña:</label>
            <input
              type="password"
              name="password"
              class="form-control"
              placeholder="Contraseña"
            />
          </div>
          <button class="btn btn-success btn-block">
            INICIAR SESIÓN
          </button>
        </form>

      </div>

    </div>

    <div class="text-light">
      <p class="my-3">¿No tienes cuenta?
        <a href="/auth/signup" class="text-success">Registrate en ImageApp</a></p>
      <p class="my-3">¿Has olvidado tu contraseña?
        <a href="/auth/recovery-password" class="text-success">Restablecer ahora</a></p>

    </div>
  </div>
</div>