<div class="card bg-dark text-white">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h2 class="card-title">{{ image.title }}</h2>
    <button class="btn btn-danger btn-sm" id="btn-delete" data-id="{{image.uniqueId}}">
      <i class="fa fa-times"></i> Eliminar
    </button>
  </div>
  <div class="card-body">
    <p>{{ image.description }}</p>
    <div class="text-center">
      <img src="/uploads/{{image.filename}}" class="img-fluid">
    </div>
  </div>
  <div class="card-footer d-flex justify-content-between align-items-center">
    <button class="btn btn-success" id="btn-like" data-id="{{image.filename}}">
      <i class="fas fa-thumbs-up"></i> Me Gusta
    </button>
    <p>
      <span class="likes-count">{{image.likes}}</span>
      <i class="fas fa-heart"></i>
    </p>
    <p>
      <i class="fas fa-eye"></i> {{image.views}}
    </p>
    <p>
      <i class="far fa-clock"></i>
      {{timeago image.timestamp}}
    </p>
  </div>
</div>

<!-- COMMENTS -->
<div class="card mt-2 bg-dark text-white">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h3 class="card-title">Comentarios</h3>
    <button class="btn btn-info" id="btn-toggle-comment">
      <i class="fa fa-comments-o"></i> Escribe un Comentario
    </button>
  </div>
  <div class="card-body">
    <blockquote id="post-comment">
      <form action="/images/{{ image.uniqueId }}/comment" method="POST">
        <div class="form-group">
          <input type="text" class="form-control bg-dark text-light border border-success" name="name"
            placeholder="Name">
        </div>
        <div class="form-group">
          <input type="email" class="form-control bg-dark text-light border border-success" name="email"
            placeholder="Email">
        </div>
        <div class="form-group">
          <textarea name="comment" class="form-control bg-dark text-light border border-success" rows="2"
            placeholder="Your Comment"></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-outline-success" id="btn-comment">
            <i class="fa fa-comment"></i> Enviar
          </button>
        </div>
      </form>
    </blockquote>
    <ul class="list-group p-4">
      {{#each comments}}
      <li class="list-group-item">
        <div class="row">
          <a href="#" class="col text-center">
            <img src="http://gravatar.com/avatar/{{gravatar}}?d=monsterid&s=45" />
          </a>
          <blockquote class="col">
            <p class="lead">{{comment}}</p>
            <footer class="blockquote-footer">
              {{name}}- {{timeago timestamp}}
            </footer>
          </blockquote>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>